<%- include('../partials/header') %>
<div class="container">
  <main>
    <h1>Admin Products</h1>
    <hr>
    <% if(products.length > 0) { %>
    <div class="row mt-5">
      <% products.forEach((product) => { %>
      <div class="col-md-4">
        <div class="card mb-5">
          <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Price: $<%= product.price %></b></li>
          </ul>
          <div class="card-body">
            <a href="/admin/edit-product/<%= product.id %>" class="btn btn-warning mr-2"><i class="fas fa-edit"></i>
              Edit</a>
            <form action="/admin/delete-product" class="d-inline-block" method="POST">
              <input type="hidden" name="productId" value="<%= product.id %>">
              <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
            </form>
          </div>
        </div>
      </div><!-- /col-md-4 -->
      <% }); %>
    </div><!-- /row -->
    <% } else { %>
    <p>No Products to list at the moment</p>
    <% } %>
  </main>
</div>
<%- include('../partials/footer') %>