<%- include('../partials/header') %>
<div class="container">
  <main>
    <h1 class="text-center text-md-left"><%= product.title %></h1>
    <hr>
    <div class="row mt-5">
      <div class="col-md-4">
        <img src="<%= product.imageUrl %>" class="img-fluid mb-4 mb-md-0" alt="<%= product.title %>">
      </div>
      <div class="col-md-8">
        <p class="lead text-center text-md-left"><%= product.description %></p>
        <div class="d-flex justify-content-between align-items-center mt-5">
          <h4 class="mb-0"><b>Price: $<%= product.price %></b></h4>
          <form action="/cart" class="d-inline-block" method="POST">
            <button class="btn btn-success"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
            <input type="hidden" name="productId" value="<%= product.id %>">
          </form>
        </div>
      </div>
    </div><!-- /row -->
    <div class="my-5">
      <hr>
      <a class="text-success" href="/products"><i class="fas fa-arrow-circle-left"></i> Back to Products</a>
    </div>
  </main>
</div>
<%- include('../partials/footer') %>