<%- include('../partials/header') %>
<div class="container">
  <main>
    <h1><%= product.title %></h1>
    <hr>
    <div class="row mt-5">
      <div class="col-md-4">
        <img src="<%= product.imageUrl %>" class="img-fluid" alt="<%= product.title %>">
      </div>
      <div class="col-md-8">
        <p class="lead"><%= product.description %></p>
        <div class="d-flex justify-content-between align-items-center mt-5">
          <h4 class="mb-0"><b>Price: $<%= product.price %></b></h4>
          <form action="/add-to-cart" class="d-inline-block" method="POST">
            <button class="btn btn-success"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
          </form>
        </div>
      </div>
    </div><!-- /row -->
  </main>
</div>
<%- include('../partials/footer') %>